/*GENERALES*/

html {
    scroll-behavior: smooth !important;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  color: #ffffff;   
}

body {
  font-family: "Raleway", sans-serif;
}

#logo {
  width: 50px;
  height: 50px;
  text-align: left;
  padding-right: 3px;
  }

.formulario {
  padding: 70px;
}

hr {
  height: 1px;
   border: 0;
   background-color: turquoise;
   margin: 30px;
   margin-bottom: 20px;

}

section {
  background-color: #000000;
}

h5 {
  color: #000000;
  font-size: 30px;  
}
 

/*SECCION QUIENES SOMOS*/

h2 {
  text-align: center;
  padding-bottom: 0;
  padding-top: 10px;
  font-size: 2rem;  
}
p {
  font-weight: 300;
}

.final {
  padding: 50px;
  width: 100%;
  display: flex;
  justify-content: center;  
}

.texto {
  margin: 10px 30px; 
}

i {
  color:#ffffff;
  font-size: 50px;
  background:#20ebeb;
  padding: 5px;
  text-align: center;
  width: 100%;
}

#presentacion {
  padding-top: 20px;
  padding: 40px;      
}


/*SECCIÓN DESTACADOS*/

.card {
  background-color: #20ebeb;
  color: #ffffff;
  margin-bottom: 20px;  
}

.card-img-top {
  width: 100%;
  height: 250px;
}

h4 {
  font-weight: 600;
}
/*FOOTER*/

footer {
  background-color: #20ebeb;
}

h3 {
  color:#ffffff;
  margin-top: 45px;
  padding-top: 3px;  
  background-color: #20ebeb;
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
}

.iconos{  
  background-color: #20ebeb; 
  padding: 30px;  
  display: flex;
  text-align: center;
  justify-content: center;  
}




